/* Navbar container */
.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  
  }
  
  .logo {
    width: 140px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    gap: 30px;
    text-align: center;
  }
  
  .menu a {
    text-decoration: none;
    color: #0D1B2A;
    font-size: 18px;
    position: relative;
    padding-bottom: 2px;
  }
  
  /* Active menu item underline */
  .menu a.active {
    border-bottom: 2px solid #0D1B2A;
  }
  
  /* Menu hover effect */
  .menu a:hover {
    color: #EEB902;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .Navbar-Search-Icon button {
    background: transparent;
    font-size: 16px;
    border: 1px solid #0D1B2A;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .Navbar-Search-Icon button:hover {
    background: #F4FFF8;
    color: #0D1B2A;
  }
  
  /* Responsive: screens up to 768px */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .menu {
      flex-direction: column;
      gap: 15px;
      display: none;
    }
  
    .navbar .menu.show {
      display: flex;
    }
  
    .navbar-right {
      gap: 10px;
    }
  }
  .navbar-profile{
    position: relative;
  }
  .nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
  }
  .navbar-profile img{
    width: 30px;
    height: 30px;
    object-fit: fill;
    cursor: pointer;
  }
  .nav-profile-dropdown img{
    width: 15px;
    height: 15px;
    object-fit: fill;
    cursor: pointer;
  }
  .nav-profile-dropdown li:hover{
    color: #EEB902;
  }
  .nav-profile-dropdown p {
    font-size: 12px;
  }


  .navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef ;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #EEB902;
    outline: 2px solid white;
    list-style: none;
  }
  .nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }