.footer {
    color: #EAEAEA;
    background-color: #004F2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 50px;
    text-align: left;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left img {
    width: 150px;
}

.footer-content-left p {
    max-width: 300px;
}

.footer-content-center h2, .footer-content-right h2 {
    color: #EE8902;
    margin-bottom: 10px;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-content-left li:hover, .footer-content-right li:hover, .footer-content-center li:hover {
    color: #EE8902;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.footer-socials svg {
    color: #EAEAEA;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-socials svg:hover {
    color: #EE8902;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

.news-letter {
    display: flex;
    gap: 10px;
}

.news-letter input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.news-letter button {
    padding: 10px 20px;
    background-color: #EE8902;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news-letter button:hover {
    background-color: #b46600;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
    color: #A9A9A9;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-content-left, .footer-content-right, .footer-content-center {
        align-items: center;
    }

    .footer-socials {
        justify-content: center;
    }

    .news-letter {
        flex-direction: column;
        align-items: center;
    }

    .news-letter input {
        width: 100%;
    }
}
