.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #0D1B2A; /*Text Color Scheme*/
}

.navbar-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    border: 1px solid #0D1B2A;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background: #F4FFF8;
    color: #0D1B2A;
}

.navbar .menu li.active {
    padding-bottom: 2px;
    border-bottom: 2px solid #0D1B2A;
}

.navbar li {
    cursor: pointer;
}

.Navbar-Search-Icon {
    position: relative;
}

.Navbar-Search-Icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #EEB902;
    border-radius: 5px;
    top: calc(14px);
    right: calc(130px);
}
