.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-form {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
}

.login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #004F2D;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-form button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #EAEAEA;
    background-color: #EEB902;
    cursor: pointer;
}

span{
    color: #004F2D;
    font-weight: 500;
    cursor: pointer;
}

.popup-condition{
    display: flex;
    align-items: start;
    gap:8px;
    margin-top: -15px;
}

.popup-condition input{
    margin-top: 5px ;
}

.popup-condition p span{
    color: #004F2D;
    font-weight: 500;
    cursor: pointer;
}

